{
	"presets": [
		[
			"env",
			{
				"modules": false
			}
		],
		"react",
		"stage-0"
	],
	"plugins": [
		"transform-object-rest-spread",
		[
			"module-resolver",
			{
				"root": [
					"./"
				],
				"alias": {
					"components": "./src/components",
					"containers": "./src/containers",
					"reducers": "./src/reducers",
					"sagas": "./src/sagas"
				}
			}
		]
	],
	"env": {
		"production": {
			"only": [
				"src"
			]
		}
	}
}
